openapi: 3.0.0
info:
  version: 1.0.0
  title: Angle API
  description: API to track the Angle Protocol state
servers:
  - url: 'https://api.angle.money'
paths:
  /v1/app:
    get:
      description: Return data about tokens at stake in the Angle Protocol along with their price.
      parameters:
        - name: chainId
          in: query
          description: Chain requested - Default is 1 (Ethereum mainnet)
          schema:
            type: integer
      responses:
        '200':
          description: Maps token addresses on the requested chain to their associated data and returns a list of pairs of tokens identified by their name with their price (in USD).
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokens:
                    $ref: '#/components/schemas/tokens'
                  prices:
                    $ref: '#/components/schemas/prices'
  /v1/prices:
    get:
      description: Return prices for tokens used by the Angle Protocol.
      parameters:
        - name: chainId
          in: query
          description: Chain requested - Default is 1 (Ethereum mainnet)
          schema:
            type: integer
      responses:
        '200':
          description: List of pairs of tokens identified by their name with their price (in USD).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/prices'
  /v1/apr:
    get:
      description: Return APRs for tokens used by the Angle Protocol. Data is based on approximations, it should be cautiously taken.
      responses:
        '200':
          description: Mapping between a token name and the overall APR you can get with it and optionally a breakdown on the APR displayed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apr'
  /v1/balances:
    get:
      description: Return the balances for tokens in the for Angle token list for a given user.
      parameters:
        - name: user
          in: query
          description: User blockchain `address`
          schema:
            type: string
        - name: chainId
          in: query
          description: Chain requested - Default is 1 (Ethereum mainnet)
          schema:
            type: integer
      responses:
        '200':
          description: Mapping between a token address and for each token the user balance, the decimals of the token as well as the token name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/balances'
  /v1/allowances:
    get:
      description: Return the allowances for tokens in the for Angle token list for a given user
      parameters:
        - name: user
          in: query
          description: User blockchain `address`
          schema:
            type: string
        - name: spender
          in: query
          description: Spender blockchain `address`
          schema:
            type: string
        - name: chainId
          in: query
          description: Chain requested - Default is 1 (Ethereum mainnet)
          schema:
            type: integer
      responses:
        '200':
          description: Mapping between a token address and for each token the allowance of the user with respect to the spender, the decimals of the token as well as the token symbol
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/allowances'
  /v1/dao:
    get:
      description: Return data related to gauges as well as to the ANGLE and veANGLE tokens for a given user including vote and rewards data
      parameters:
        - name: chainId
          in: query
          description: Chain requested - Default is 1 (Ethereum mainnet)
          schema:
            type: integer
        - name: user
          in: query
          description: User blockchain `address`. This address is optional and the query could work without.
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  veANGLE:
                    schema: null
                    $ref: '#/components/schemas/veANGLE'
                  ANGLE:
                    schema: null
                    $ref: '#/components/schemas/ANGLE'
                  rewardsData:
                    schema: null
                    $ref: '#/components/schemas/rewardsData'
                  gauges:
                    schema: null
                    $ref: '#/components/schemas/gauges'
  /v1/pools:
    get:
      description: Return data related to pools (collateral / agToken)
      parameters:
        - name: user
          in: query
          description: User blockchain `address`
          schema:
            type: string
        - name: chainId
          in: query
          description: Chain requested - Default is 1 (Ethereum mainnet)
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pools'
  /v1/incentives:
    get:
      description: Return data related to incentivized stuffs
      parameters:
        - name: user
          in: query
          description: User blockchain `address`
          schema:
            type: string
        - name: isTest
          in: query
          description: Optional flag to get Rinkeby data
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/incentives'
  /v1/perpetuals:
    get:
      description: Return data related to perpetuals of a given user
      parameters:
        - name: user
          in: query
          description: User blockchain `address`
          schema:
            type: string
        - name: chainId
          in: query
          description: Chain requested - Default is 1 (Ethereum mainnet)
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/perpetuals'
  /v1/vaultManagers:
    get:
      description: Return the global state of `VaultManagers` listed by the treasury
      parameters:
        - name: chainId
          in: query
          description: Chain requested - Default is 1 (Ethereum mainnet)
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/vaultManagers'
  /v1/vaults:
    get:
      description: Return all vaults for a user on a chain
      parameters:
        - name: user
          in: query
          description: User blockchain `address`
          schema:
            type: string
        - name: chainId
          in: query
          description: Chain requested - Default is 1 (Ethereum mainnet)
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/vaults'
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
  schemas:
    tokens:
      type: object
      additionalProperties:
        type: object
        properties:
          name:
            type: string
            description: Token name
          address:
            type: string
            description: Token address
          decimals:
            type: number
            description: ERC20 decimals
          symbol:
            type: string
            description: Token symbol
          useInSwap:
            type: boolean
            description: Whether this token is used in Angle swaps
          hasPermit:
            type: boolean
            description: Whether the token supports permit
          permitVersion:
            type: string
            description: Permit version, otherwise '-1'
          logoURI:
            type: string
            description: Logo URI
          tags:
            type: array
            items:
              type: string
            description: Token tags

    prices:
      type: array
      items:
        type: object
        properties:
          token:
            type: string
            description: Token symbol
          rate:
            type: number
            description: Token price (in USD)

    allowances:
      type: array
      items:
        type: object
        additionalProperties:
          type: object
          properties:
            symbol:
              type: string
              description: Token symbol
            allowance:
              type: string
              description: Token allowance
    ANGLE:
      type: object
      properties:
        totalSupply:
          type: number
          description: Total supply of the ANGLE token
        circulatingSupply:
          type: number
          description: Circulating supply of the ANGLE
        balance:
          type: string
          description: ANGLE balance of the user
    apr:
      type: object
      properties:
        value:
          type: number
          description: Value of the APR with the token
        address:
          type: string
          description: Optional, it is the address associated to the token name
        details:
          type: object
          additionalProperties:
            type: number
            description: These additional properties can be the APR from fees, the APR from interest, the min ANGLE rewards you can get or the ANGLE rewards with max boost

    balances:
      type: array
      items:
        type: object
        additionalProperties:
          type: object
          properties:
            symbol:
              type: string
              description: Token symbol
            balance:
              type: string
              description: Token balance
            decimals:
              type: number
              description: Number of decimals of the token
    gauges:
      type: object
      properties:
        totalWeight:
          type: number
        voteUserPower:
          type: number
        list:
          type: object
          additionalProperties:
            type: object
            properties:
              address:
                type: string
                description: Gauge address
              name:
                type: string
                description: Gauge name
              icon:
                type: string
                description: Shortened symbol of the gauge
              type:
                type: number
                description: Type of the gauge in the whole system
              currentWeight:
                type: number
                description: Share of overall ANGLE emissions allocated to this gauge for the current week
              absoluteWeight:
                type: number
                description: Total veANGLE voting power for this gauge
              futureWeight:
                type: number
                description: Share of overall ANGLE emissions that is going to go to this gauge next week
              userWeight:
                type: number
                description: Share of the user's voting power used for this gauge
              lastUserVote:
                type: number
                description: Amount of veANGLE with which the user voted for this gauge
              tvl:
                type: number
                description: USD value in this gauge
              apr:
                type: number
                description: Minimum ANGLE boost for participating in this gauge (this APR does not include that the token natively staked may have)
              workingSupply:
                type: number
                description: Working supply in the gauge contract
              totalSupply:
                type: number
                description: Total supply of the gauge contract
              workingBalance:
                type: number
                description: Working balance of the user in the gauge (it's the balance corrected by the veANGLE boost)
              balance:
                type: number
                description: Balance of the user in the gauge contract
    incentives:
      type: object
      additionalProperties:
        type: object
        properties:
          address:
            type: string
          name:
            type: string
          deprecated:
            type: boolean
          underlyingToken:
            type: object
            properties:
              balances:
                type: string
              allowance:
                type: string
              address:
                type: string
              base:
                type: number
          rewardTokens:
            type: array
            items:
              type: object
              properties:
                symbol:
                  type: string
                address:
                  type: string
                amount:
                  type: number
          network:
            type: number
          platform:
            type: string
          icon:
            type: string
          tvl:
            type: number
          deposit:
            type: object
            properties:
              amount:
                type: string
              usdValue:
                type: number
          apr:
            type: object
            properties:
              apr:
                type: object
              value:
                type: number
    perpetuals:
      type: object
      additionalProperties:
        type: object
        properties:
          id:
            type: string
          perpetualID:
            type: string
          owner:
            type: string
          margin:
            type: string
          committedAmount:
            type: string
          entryRate:
            type: string
          perpetualManager:
            type: string
          stableAddress:
            type: string
          collatAddress:
            type: string
          decimals:
            type: string
          stableName:
            type: string
          collatName:
            type: string
          liquidationPrice:
            type: string
          openingBlockNumber:
            type: string
          openingTimestamp:
            type: string
          lastUpdateBlockNumber:
            type: string
          lastUpdateTimestamp:
            type: string
          status:
            type: string
          claimable:
            type: number
    rewardsData:
      type: object
      properties:
        times:
          type: array
          items:
            type: number
        tokenPerWeek:
          type: array
          items:
            type: number
        claimable:
          type: array
          items:
            type: number
        totalClaimable:
          type: string
    pools:
      type: object
      additionalProperties:
        type: object
        properties:
          collateralSymbol:
            type: string
          stablecoinSymbol:
            type: string
          decimals:
            type: number
          liquidityGaugeAddress:
            type: string
          perpetualManagerAddress:
            type: string
          poolManagerAddress:
            type: string
          collateralAddress:
            type: string
          stablecoinAddress:
            type: string
          lower:
            type: string
          upper:
            type: string
          stocksUsers:
            type: string
          collatRatio:
            type: string
          sanRate:
            type: string
          slpData:
            type: object
            properties:
              slippage:
                type: string
          poolManagerBalance:
            type: string
          totalHedgeAmount:
            type: string
          targetHAHedge:
            type: string
          limitHAHedge:
            type: string
          maintenanceMargin:
            type: string
          maxLeverage:
            type: string
          lockTime:
            type: string
          perpRewardRate:
            type: string
          periodFinish:
            type: string
          aprFromFees:
            type: number
          aprFromInterests:
            type: number
          aprFromAngle:
            type: number
          stablecoinBalance:
            type: string
          collateralBalance:
            type: string
          sanTokenBalance:
            type: string
          gaugeBalance:
            type: string
          gaugeWorkingBalance:
            type: string
          boost:
            type: number
          theoricBoost:
            type: number
          collateralAllowance:
            type: string
          collateralRouterAllowance:
            type: string
    veANGLE:
      type: object
      properties:
        totalSupply:
          type: number
          description: Total supply of the token
        totalLocked:
          type: number
          description: Amount of ANGLE token locked
        rate:
          type: number
          description: ANGLE emission rate per second
        nextRate:
          type: number
          description: ANGLE emission rate per second next week
        locked:
          type: number
          description: Amount of ANGLE tokens locked by the users
        endLock:
          type: number
          description: Timestamp at which the lock should end
        balance:
          type: string
          description: User veANGLE balance
        allowance:
          type: string
          description: Allowance for the ANGLE token to the veANGLE contract by the user
    vaultManagers:
      type: object
      additionalProperties:
        type: object
        properties:
          address:
            type: string
            description: address of the `VaultManager`
          symbol:
            type: string
            description: symbol of the `VaultManager`
          collateral:
            type: number
            description: Address of the collateral token
          collateralHasPermit:
            type: boolean
          collateralPermitVersion:
            type: number
          stablecoin:
            type: string
            description: Address of the minted stablecoin
          swapper:
            type: string
          decimals:
            type: string
          treasury:
            type: string
            description: Address of the treasury
          borrowFee:
            type: number
            description: Percentage of up-front fees
          stabilityFee:
            type: number
            description: Annual interest rate
          liquidationPenalty:
            type: number
            description: Percentage of penalty on liquidated debt
          minCollateralRatio:
            type: number
            description: Min percentage of collateral versus debt
          dust:
            type: number
            description: Minimum debt
          totalCollateral:
            type: number
            description: Total collateral on the contract
          totalDebt:
            type: number
            description: Total debt on the contract
          rate:
            type: number
    vaults:
      type: object
      additionalProperties:
        type: object
        properties:
          address:
            type: string
            description: address of the `VaultManager`
          symbol:
            type: string
            description: symbol of the `VaultManager`
          id:
            type: number
            description: ERC721 standard `tokenID`
          collateral:
            type: number
            description: Address of the collateral token
          stablecoin:
            type: string
            description: Address of the minted stablecoin
          rate:
            type: number
            description: Underlying oracle price
          collateralAmount:
            type: number
            description: Collateral added to the vault
          debt:
            type: number
            description: Amount currently due
          debtString:
            type: string
            description: 'Amount currently due, as a string for precision'
          collateralRatio:
            type: number
            description: 'Collateral over Debt, in %'
          liquidationPrice:
            type: number
            description: 'Current liquidation price threshold, in USD'
